<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme/polaroid/polaroid.css') }}">
  </head>

  <body style="margin:0;background: url({{ url_for('static', filename='theme/polaroid/wood-bg.jpg') }}) repeat;">



<!--

    <div class="row">
    <div class="large-12 columns" style="overflow: visible">
    <ul class="polaroids large-block-grid-4 small-block-grid-2">

{% for snap in gallery %}

    <li>
      <a href="https://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img src="https://s3.amazonaws.com/gallerystore/{{snap.snap_original}}" alt="sick"/>
      </a>
    </li>

{% endfor %}

    </ul>
    </div>
    </div>

!-->

<style type="text/css">
.test {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
</style>

<div class="test">

<ul class="polaroids large-block-grid-4 small-block-grid-2">

{% for snap in gallery %}

<li>
  <a href="https://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
    <img src="https://s3.amazonaws.com/gallerystore/{{snap.snap_original}}" alt="sick"/>
  </a>
</li>

{% endfor %}

</ul>

</div>

<hr>


    <footer class="footer text-muted">
      <small>
    <p style="height:5px"></p>
  <div class="container">
    <p>Gallery stolen from <a href="http://wwww.zurb.com">zurb.com</a>, all credit goes to them.</p>
    <p>Share your own galleries with <a href="http://localhost:5000">[Gallery]</a>!</p>
  </div>
  </small>
</footer>






  </body>
</html>
