
/** first template **/
.demo {
  margin-bottom: 24px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #eee;
}
.demo-image {
  width: 100%;
  display: block;
  height: auto;
}
.temptest {
  margin-bottom: 24px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #eee;
}
.temptest-back {
  width: 100%;
  display: block;
  height: auto;
  position:relative;
}
