{% extends "base.html" %}
{% block content %}

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/batches">Batches</a>
    <span class="breadcrumb-item active">{{batch.0.title|capitalize}}</span>
</nav>

<div class="alert alert-secondary" role="alert">
  <form class="form-inline" action="/new_snap" method="POST" enctype="multipart/form-data">
    Upload New Snap &emsp;
    <label class="custom-file">
      <input type="file" name="upload" class="custom-file-input" multiple>
      <span class="custom-file-control"></span>
    </label>
    <input type="hidden" name="batch" value="{{batch_id}}">
     &emsp; | &emsp;
    <button class="btn btn-primary" type="submit">Post</button>
  </form>
</div>

<hr>

{% set galleries = batch.0.galleries %}
{% include 'gallery_table.html' %}

<hr>

{% set snaps = batch.0.snaps %}
{% set returnview = batch.0.id %}
{% include 'snaps.html' %}


{% endblock %}
