{% if galleries|length != 0 %}

  <div style="font-size:10px;padding-bottom:10px;color:darkgray;">
    <strong>FILTER</strong>: &emsp;&emsp; <a href="" style="color:black;">Private</a> | <a href="" style="color:black;">Public</a>
  </div>

  <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th style="width: 25%;">Title</th>
          <th style="width: 35%;">Snaps</th>
          <th style="width: 15%;">Date</th>
          <th style="width: 5%;">Private</th>
          <th style="width: 10%;">Theme</th>
          <th style="width: 5%;">Delete</th>
        </tr>
      </thead>
  
      <tbody>
  {% for gallery in galleries %}
        <tr>
          <form class="form-inline" action="/edit_gallery/{{gallery.id}}" method="POST">
            <td>
              <a href="/gallery/{{gallery.id}}">{{gallery.title}}</a>
            </td>

            
            
            <td>{% for snap in gallery.snaps %}
              {% if snap.private == True %}
              <img style="border: 1px solid red; width:30px; height: auto;" src='https://s3.amazonaws.com/gallerystore/{{snap.snap_thumb}}'>
              {% else %}
              <img style="border: 1px solid green; width:30px; height: auto;" src='https://s3.amazonaws.com/gallerystore/{{snap.snap_thumb}}'>
              {% endif %}
              {% endfor %}
            </td>
            <td>
                {{gallery.initdate}}
              </td>
            <td>
                {% if gallery.private == True %}
                <button class="btn btn-danger" name='private' type="submit">Private</button>
              {% else %}
                <button class="btn btn-success" name='private' type="submit">Public</button><br>
                <a href='/share/{{gallery.shareuuid}}' class="btn btn-light" role="button" target="_blank">Share</a>
              {% endif %}
            </td>
            <td>
                <select name="changed_theme" class="form-control">
                    <option selected>{{gallery.theme.0.name}}</option>
                    {% for theme in themes %}
                      <option value="{{theme.id}}">{{theme.name}}</option>
                    {% endfor %}
                  </select>
        
                  <button class="btn btn-primary" type="submit">Change</button>
            </td>
            <td><button class="btn btn-outline-danger" name='delete' type="submit">Delete</button></td>
          </form>
        </tr>
  {% endfor %}
  
      </tbody>
    </table>

{% else %}

<div class="alert alert-danger" role="alert">
  You currently have no galleries.
</div>

{% endif %}