{% extends "base.html" %}
{% block content %}

{{gallery}}
<hr>

{{gallery.0.shareuuid}}

<hr>

{{gallery.0.title}}

<hr>


<form class="form-inline" action="/new_snap" method="POST">
  <div class="form-group">
    <input type="text" name="title" id="title" class="form-control" placeholder="new snap" required>
    <input type="hidden" name="gallery" value="{{gallery.0.id}}">
  </div>
  <label class="custom-file">
    <input type="file" id="file2" class="custom-file-input">
    <span class="custom-file-control"></span>

  </label>
   &emsp; | &emsp;
  <button class="btn btn-primary" type="submit">Post</button>
</form>


<hr>

{% for snap in gallery.0.snaps %}
<div class=".container-fluid" style="display:inline-block;">

<div class="card border-light mb-3" style="max-width: 20rem; margin:0;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Light card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

</div>

{% endfor %}


{% endblock %}
