{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
{{bla}}<br><br>

<form class="form-inline" action="/new_gallery" method="POST">
  <div class="form-group mx-sm-3">
    <label for="title" class="sr-only">Gallery Title</label>
    <input type="text" name="title" id="title" class="form-control" placeholder="..." required autofocus>
  </div>
  <button class="btn btn-primary" type="submit">Post</button>
</form>

<hr>

  {% for gallery in galleries %}

  <a href="/gallery/{{gallery.id}}">
    <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Dark card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  </a>

  {% endfor %}


{% endblock %}
