{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>

{{gallery.0.title}}

<hr>

{% for snap in gallery.0.snaps %}
<div class=".container-fluid" style="display:inline-block;">

<div class="card border-light mb-3" style="max-width: 20rem; margin:0;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Light card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

</div>

{% endfor %}


{% endblock %}
