{% extends "base.html" %}
{% block content %}

{{session}}

<div class="alert alert-primary" role="alert">
  <h1>Welcome to [Gallery]<span style="color:red;">*</span>.</h1>
  <small style="color:red;">*While in development <strong>all</strong> personal information, images and any other user data will be permanently removed on each release cycle until full release.</small><br>

  <br>
  <br>
  If you would like to stay updated on all things [Gallery]. Please enter your details below.<br>
  <br>
  [Name, Email Form]
</div>

<br>

{% endblock %}
