<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body style="margin:0;">

    {% for snap in gallery %}
      <div class=".container-fluid" style="display:inline-block;">
        <img src="https://s3.amazonaws.com/gallerystore/{{snap.name}}" alt="some_text">
      </div>
    {% endfor %}

    <hr>
    {{gallery}}
    <hr>

  </body>
</html>
