<div style="display:flex; justify-content: space-around; flex-wrap:wrap;">
    {% for snap in snaps %}
    
    <div class="card" style="width: 20rem; margin-top:2px; margin-bottom:2px;background-image: url('https://s3.amazonaws.com/gallerystore/{{snap.snap_original}}'); background-position: center; display:inline-block;">
      <div class="card-body">
        <h4 class="card-title">&emsp;</h4>
        <h6 class="card-subtitle mb-2 text-muted">&emsp;</h6>
        <p class="card-text">&emsp;</p>
        <form action="/edit_snap/{{snap.id}}" method="POST">
          <input type="hidden" name="batch" value="{{batch_id}}">
          {% if snap.private == True %}
            <button class="btn btn-danger btn-sm" name='private' type="submit">Private</button>
          {% else %}
            <button class="btn btn-success btn-sm" name='private' type="submit">Public</button>
          {% endif %}
          <button class="btn btn-light btn-sm" name='transform' type="submit">Transform</button>
          <button class="btn btn-danger btn-sm" name='select' value={{snap.id}} type="submit">select</button>
          <button class="btn btn-outline-danger btn-sm" name='delete' type="submit">Delete</button>
        </form>
      </div>
    </div>
    
    {% endfor %}
    
      </div>
