{% extends "base.html" %}
{% block content %}

<div class="alert alert-secondary" role="alert">
  <form class="form-inline" action="/new_snap" method="POST" enctype="multipart/form-data">
    Upload New Snap &emsp;
    <label class="custom-file">
      <input type="file" name="upload" class="custom-file-input" multiple>
      <span class="custom-file-control"></span>
    </label>
     &emsp; | &emsp;
    <button class="btn btn-primary" type="submit">Post</button>
  </form>
</div>


<div style="font-size:10px;padding-bottom:10px;color:darkgray;">
  <strong>FILTER</strong>: &emsp;&emsp; <a href="" style="color:black;">In Gallery</a> | <a href="" style="color:black;">Without Gallery</a>
</div>

<div class=".container-fluid">
{% for snap in snaps %}

<div class="card" style="width: 20rem; margin-top:2px; margin-bottom:2px;background-image: url('https://s3.amazonaws.com/gallerystore/{{snap.name}}'); background-position: center; display:inline-block;">
  <div class="card-body">
    <h4 class="card-title">&emsp;</h4>
    <h6 class="card-subtitle mb-2 text-muted">&emsp;</h6>
    <p class="card-text">&emsp;</p>
    <form action="/edit_snap/{{snap.id}}" method="POST">
      {% if snap.private == True %}
        <button class="btn btn-danger btn-sm" name='private' type="submit">Private</button>
      {% else %}
        <button class="btn btn-success btn-sm" name='private' type="submit">Public</button>
      {% endif %}
      <button class="btn btn-light btn-sm" name='transform' type="submit">Transform</button> &emsp; &emsp; &emsp;
      <button class="btn btn-outline-danger btn-sm" name='delete' type="submit">Delete</button>
    </form>
  </div>
</div>

{% endfor %}

  </div>

<p style="height:30px;">

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

<p style="height:60px;">

{% endblock %}
