<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sharetemps.css') }}">
  </head>

  <body style="margin:0;">





    <div id="container">
        <div class="img-container">

            <img src="http://placehold.it/300x200/eeeeee" style="width:100%;" />

            <div class="positioning">
                <div style="width:50px; height:50px;background-color:black;">
                </div>
            </div>

        </div>

    </div>





<br><br>









  </body>
</html>
